.card
{
	cursor: pointer;
	display: flex;
	overflow: hidden;

	border-radius: 5px;
	background-color: color-mix(in srgb, var(--main) 10%, transparent);
}

.card:nth-child(even)
{
	text-align: right;
	flex-direction: row-reverse;
}

.card-text
{
	display: flex;
	flex-direction: column;
	gap: .1em;

	padding: 1em;
}

.card-text h2
{
	font-size: 1.75em;

	margin: 0;
}

.card-text p
{
	margin: 0;
}
